*{
    box-sizing: border-box;
    margin: 0px;
}
body{
   background-color: black;
}
.pb-15{
   padding-bottom: 15px;
}
.m-0{
   margin: 0px;
}
.pt-15{
   padding-top: 15px;
}
.padding-top-50{
   padding-top: 50px;
}
.mt-40{
   margin-top: 40px;
}
.text-center{
   text-align: center;
}
header{
   font-family: "Inter", serif;
}

.red{
   color: #D32E2E
}
.margin-top-120px{
   margin-top: 120px;
}
.pt-60{
     padding-top: 60px;
}
.liststyle{
     list-style: none;
}
.white{
   color: white;
}
.justify-content-center{
   justify-content: center;
}
.justify-content-end{
   justify-content: flex-end;
}
.justify-content-baseline{
   justify-content: baseline;
}
.align-items-center{
   align-items: center;
}
img{
   width: 100%;
}
.listeen{
  padding: 8px;
}
ul{
   list-style: none;
   justify-content: center;
   padding: 0 12px;
}
.container{
   width: 1320px;
   padding: 0  16px;
   margin: 0 auto;
}
.row{
   display: flex;
   flex-wrap: wrap;
   margin: 0 -16px;
}
.text-align-center{
   text-align: center;
}
.d-flex{
   display: flex;
   
}
.box1{
   width: 8.33%;
}
.box2{
    width: 16.66%;
}
.box3{
   width: 24.99%;
}
.box4{
    width: 33.32%;
}
.box5{
    width: 41.66%;
}
.box6{
    width: 50%;
}
 .box7{
    width: 58.33%;
}
.box8{
    width: 66.66%;
}
.box9{
    width: 75%;
}
 .box10{
    width: 83.33%;
}
 .box11{
    width: 91.66%;
 }  
 .box12{
    width: 100%;
}
 .box, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
   padding: 0 8px;
}
.dive{
   font-weight: 100px;
   color: #e9e9e9;
}
.padding-top-90px{
   padding-top: 120px;
}
.margin-top-80px{
   margin-top: 80px;
}
/*header*/
a{
   text-decoration: none;
   padding: 0 22px;
   font-size: 22px;
}

.letstalk a{
   color: #D32E2E;
   font-size: 17px;
   padding: 16px 32px;
   border-radius: 8px;
   border: 1px solid #D32E2E;
}
.letstalk{
   margin-top: 35px;
   transition: all 0.5s;
}
.letstalk:hover{
   transform: scale(0.9);
}
.p1{
   height: 50px;
   width: 50px;
}
.p2{
  padding: 20px;
}
.link-color{
   color: #D32E2E;
}
.menubaar{
   background-color: #D32E2E;
   align-items: center;
   text-align: center;
   margin: 20px;
   border-radius: 7px;
   padding: 16px 16px;
   font-size: 20px;
}
.menubaar:hover{
   color: #e9e9e9;
}
.pos-rel{
   position: relative;
}
.pos-abs{
   position: absolute;
}
.pd{
   padding: 10px;
   margin: 5px 0px;
   color: #D32E2E;
   background-color: #262626;
   border: 2px solid black;
   border-radius: 5px;
}
.wp{
   flex-wrap: wrap;
}
.drop-down-menu{
   width: 240px;
   position: absolute;
   top: 80px;
   margin-top: 8px ;
   border-radius: 10px;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s;
}
.drop-down-menu a{ 
   color: white;
}
.drop-down-menu a:hover{
   color:#D32E2E;
}
.drop-down:hover .drop-down-menu{
   visibility: visible;
   opacity: 1;
}
ul a{
   color: white;
   align-items: center;
}
.drop-down:hover .hover20{
   visibility: visible;
   opacity: 1;
}
.megadropdown-menu{
   width: 50%;
   position: absolute;
   top: 80px;
   left: 10%;
   margin-top: 8px ;
   border-radius: 10px;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s;
   background-color: transparent;
}
.megadropdown-list{
   background-color: #262626 ;
   color: white;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   border: 1px solid black;
}
.mega:hover .megadropdown-menu{
   opacity: 1;
   visibility: visible;
}
/*header end*/

/*banner strat*/
.grey-bg{
   background-color: #141414;
   border-radius: 10px;
   padding: 35px;
   border-radius: 10px;
}
.turnup{
   color: #D32E2E;
   font-size: 17px;
}
.startlisteningmain {
   color: #f9f9f9;
   font-size: 61px;
   font-family: "Bricolage Grotesque", serif;
}
.clr{
   color: #e9e9e9;
   font-size: 16px;
   font-family: "Inter", serif;  
   margin-bottom: 20px;
   font-weight: 100px;         
}
.but a{
   font-size: 17px;
   padding: 20px 30px;
   background-color: #D32E2E;
   border-radius: 5px;
   color:#fff;
   margin-top: 80px;
}
.but:hover a{
   background-color: transparent;
   border: 1px solid white;
}
.but1 a{
   font-size: 17px;
   padding: 16px 32px;
   border: 1px solid white;
   color:#fff;
   border-radius: 5px;
   
}
.but1:hover a{
   background-color: #D32E2E;
   transform: scale(0.7);
   border: none;
}
.image1banner img{
   border-radius: 10px;
}
.redb{
   background-color: #D32E2E;
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
 }
.round{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: #e9e9e9;
   margin-left: 5px;
}
.btnhover:hover .btn2{
   background-color: black;
   border: 1px solid #e9e9e9;
   transform: scale(1.10);
   font-size: 12px;
   padding: 14px 29px;
}
.btnhover:hover .btwhitemargin{
   background-color: #D32E2E;
   border: none;
}
.lo1{
   color: #f9f9f9;
   font-size: 16px;
   padding-top: 95px;
}
.listeningon12{
   color: #e9e9e9;
   font-family: "Bricolage Grotesque", serif;
   font-size: 19px;
   font-weight: small;
    margin-top: 12%; 
}
.listeningon12 img{
   height: 39px;
   width: 39px;
   margin-top: 30px;
   transition: all 0.5s;
}
.listeningon12:hover .img1{
   transform: scale(0.7);
}
.listeningon12:hover .img2{
   transform: scale(0.7);
}
.listeningon12:hover .img3{
   transform: scale(0.7);
}
.listeningon12:hover .img4{
   transform: scale(0.7);
}
.listeningon12:hover .img5{
   transform: scale(0.7);
}
.happylistener{
color: #e9e9e9;
font-family: "Bricolage Grotesque", serif; 
font-weight: 400;
font-size: 25px;
}
.logot{
   height: 69px;
   width: 290px;
}
.round2{
   height: 112px;
   width: 112px;
   border-radius: 50%;
   background-color: #141414;
   border: 1px solid #D32E2E;
   margin: 30px ;
}
.round2:hover{
  background-color: #D32E2E;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
}
.round2:hover i{
   color: #e9e9e9;
}
div .round2 i{
   color: #D32E2E;
   position: absolute;
   left: 65px;
   top: 20px;
   font-size: 70px;
   align-items: center;
}
.box6 img{
   border-radius: 20px;
}
/*banner end*/

/*secion2 start*/

 .b{
  width: 360px;
  height: 320px;
}
.ourstory{
   color: #D32E2E;
   font-size: 17px;
   font-family: "Bricolage Grotesque", serif; 
   margin-bottom: 10px;
}
.b img{
   border-radius: 10px;
}
.craft{
   font-size: 51px;
   font-family: "Bricolage Grotesque", serif; 
   color: #e9e9e9; 
   padding-bottom: 20px;
}
.sec2pic1 img {
   border-radius: 10px;
   margin-top: 10px;
}
.secp{
   color: #e9e9e9;
   font-size: 16px;
   font-family: "Inter", serif;
}
.sec2button {
  background-color: #D32E2E;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  color: #e9e9e9;
  padding: 17px 34px;
}
.sec2button a{
   color:#fff;
   font-size: 17px;
} 
.sec2button {
   margin-top: 40px;
   margin-left: 20px;
}
.sec2button:hover {
    border: 1px solid #e9e9e9;
    background-color: #130303;
}
.redcount{
   font-family: "Bricolage Grotesque", serif; 
   font-size: 61px;
   color: #D32E2E;
   padding-top: 40%
   
}
.whitecount{
   font-family: "Bricolage Grotesque", serif; 
   font-size: 19px;
   color: #e9e9e9;
   font-weight: 200;
   text-align: center;
   padding-top: 40%
}
.sec2pic2 img {
   width: 100%;
   border-radius: 20px;
}
.lorem2{
   color: #e9e9e9;
   font-size: 17px;
   font-family: "Inter", serif;
   font-weight: 200;
   margin-left: 10px;
}
/*secion2 end*/
/*secion3 start*/

.bgsing{
   background-image: url(../images/photo-4.jpg);
   width: 100%;
   height: fit-content;
   background-position: fixed;
   background-size: cover;
   position: relative;
}
.bgsing-rgba{
   width: 100%;
   height: 465px;
   background-color: rgba(0, 0, 0, 0.8);
   padding-top: 90px;
}
.tuneup2{
   color: #D32E2E;
   font-size: 17px;
   font-family: "Bricolage Grotesque", serif; 
   margin-left: 600px;
}
.lisnow{
   color: #e9e9e9;
   font-size: 16px;
   font-family: "Inter", serif;
   font-weight: 200px;
   position: absolute;
   top :200px;
   left: 700px;
   margin-top: 30px;
}
.smallredr{
   height: 45px;
   width: 45px;
   border-radius: 50%;
   background-color: #D32E2E;
   position: absolute;
   top: 185px;
   right: 650px;
   margin-top: 30px;
}
.smallredr i{
   font-size: 40px;
   position: absolute;
   left: 1px;
   transition: all 0.7s;
}
.subnow{
   padding: 12px 24px;
   background-color: #D32E2E;
   color: white;
   border-radius: 10px;
   border: 1px solid #D32E2E;
   text-align: center;
   font-size: 17px;
   position: absolute;
   top: 185px;
   left: 420px ;
   margin-top: 30px;
}
/* .subnow a {
   color: #e9e9e9;
   font-size: 17px;
   font-family: "Inter", serif;
   font-weight: 300;
   margin-top: 30px;
}  */
.subnow:hover {
   border: 1px solid #e9e9e9;
   background-color: #130303;
}
.mgt2{
   margin-top: 60px;
}
.smallredr i{
   color: #e9e9e9;
   font-size: 13px;
   margin-left: 18px;
   margin-top: 16px;
}
.smallredr:hover{
   transform: scale(0.7);
}
.btnli{
   font-size: 30px;
   color: aliceblue;
   background-color: #D32E2E;
   margin-left: 20px;
   justify-content: center;
} 
/*secion3 end*/

/*secion4 start*/
.se4roundimg{
   width: 100%;
   border-radius: 50%;
   margin-left: 20px;
   padding: 0px;
   overflow: hidden;
   margin-left: 10px;
   background-color: #D32E2E;
   transition: all 2s;
}
.se4roundimg:hover img{
   transform: scale(1.2);
}
.se4team1name{
   color: #e9e9e9;
   font-size: 25px;
   font-family: "Bricolage Grotesque", serif;
   padding-top: 10px;
}
.sec4lastbutton a{
   background-color: #D32E2E;
   text-align: center;
   color: #e9e9e9;
   border-radius: 10px;
   font-family: "Inter", serif;
   font-size: 17px;
   padding: 16px 32px;
   transition: all0.5s;
}
.sec4lastbutton a:hover{
   background-color: #000000 ; 
   border: 1px solid #e9e9e9;
   transform: scale(0.9);
 }
.sec4lastbutton{
   margin-top: 50px;
} 
.expert-host{
   color: #e9e9e9;
   font-size: 17px;
   font-family: "Bricolage Grotesque", serif; 
   font-weight: normal;
   margin: 0px;
   padding-top: 10px;
}
.round1{
   padding-left: 0px;
   padding: 0px;
}
.round1 i{
   padding: 12px;
   border-radius: 50%;
   border: 1px solid #D32E2E;
   color: #D32E2E;
   font-size: 10px;
}
.round1:hover i{
   color: #e9e9e9;
   background-color: #D32E2E;
   border-radius: 50%;
   border: 1px solid #D32E2E;
} 
.sec4lastbutton a:hover{
  background-color: #000000 ; 
  border: 1px solid #e9e9e9;
  transform: scale(0.9);
}

.sec4round1:hover {
   background-color: #D32E2E;
   border-radius: 50%;
}
.sec4round1:hover i{
   color: #f9f9f9; 
} 
.sec4h3{
   height: 650px ;
   width: 102px ;
   font-size: 51px;
   font-family: "Bricolage Grotesque", serif; 
   color: #e9e9e9; 
   padding-bottom: 20px;
}
/*secion4 end*/

/*secion5 start*/
.redt2{
   color: #D32E2E;
  padding: 8px;
  font-size: 17px;
  font-family: "Bricolage Grotesque", serif; 
}
.sec5head{
   font-size: 51px;
   color: #e9e9e9;
   font-family: "Bricolage Grotesque", serif;
}
.sec5pera{
   font-size: 16px;
   color: #e9e9e9;
   font-family: "Inter", serif;
   justify-content: center;
   padding-top: 95px ;
}
.pera5main{
   width: 1300px;
   height: 390px;
   background-color: #141414;
   border-radius: 15px;
}
.sec5photo1 img{
   border-radius: 10px;
   width: 100%;
}
.sec5p{
   margin-left: 100px;
}
.sec5ph1{
   top: 20px;
}
.sec5photo1{
   left: 20px;
   padding-top: 40px;
}
.sound{
   font-size: 25px;
   color: #e9e9e9;
   padding-top: 100px;
   font-family: "Bricolage Grotesque", serif;
}
.numbers{
   font-size: 19px;
   color: #e9e9e9;
   padding-top: 100px;
   font-family: "Bricolage Grotesque", serif;
   padding: 0px;
   margin: 0px;
}
.readmore{
   color:#D32E2E;
   font-size: 15px;
}
.hovermore:hover{
   transform: scale(0.5s);
}
.hovermore:hover .readmore{
   color: #e9e9e9;
   font-size: 11px;
  
}
.hovermore:hover .readmore i{
   color: #e9e9e9;
   border: 1px solid #e9e9e9;
   transform: scale(0.5);
}
.readmore i{
   padding: 2px;
   border: 1px solid #D32E2E;
   border-radius: 50%;
   margin: 0px 10px;
   color: #D32E2E;
   transition: all 0.2s;
}
.arow{
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: #130303;
   border: 1px solid #D32E2E;
}
.arow i{
   color: #D32E2E;
   font-size: 5px;
   margin-left: 4px;
   margin-bottom: 2px;
}   
.linered{
   height: 2px;
   width: 1300px;
   background-color: #D32E2E;
   margin: 30px 0px;
}
.sec5box{
   height: 20px;
   width: 20px;
   border-radius: 50%;
   border: 1px solid #D32E2E;
   padding: 0px;
 }
 .sec5box a{
   color: #D32E2E;
   padding: 0px;
   font-size: 12px;
 }

 /* section5 end*/
 /* section6 start*/

 .para1sec6{
   color: #e9e9e9;
 }
 .boradius img{
   border-radius: 10px;
   position: relative;
 }
.sec5img1{
   background-image: url(../images/photo-8.jpg);
   height: auto;
   width: 100%;
   object-fit: cover;
   background-size: cover;
   border-radius: 10px;
   padding-right: 0px ;
   position: relative;
}
.s-5{
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}
.photo12{
   border-radius: 10px;
   margin-left: 20px;
}
.pou{
   margin-top: 20px;
}
.iconpos{
   width: 62px;
   height: 62px;
   border-radius: 50%;
   background-color: #D32E2E;
   border: 1px solid #141414;
   position: absolute;
   top: 200px;
   left: 300px;
}
.iconpos i{
   padding-top: 20px;
   padding-left: 22px;
   font-size: 25px;
}
.iconpos:hover{
   background-color: white;
}
.listeningon2{
   font-family: "Bricolage Grotesque", serif;
   color: #e9e9e9;
   font-size: 19px;
   margin: 0px;
   margin-top: 20px; 
   padding-top: 18px;
}
 .epi{
   color: #D32E2E;
   font-size: large;
   margin-top: 310px;
   margin-left: 30px;
 }
 .rise{
   font-size: 25px;
   font-family: "Bricolage Grotesque", serif; 
   color: #e9e9e9;
   margin-top: 20px;
   margin-left: 30px;
}
 .listeningon13{
   color: #e9e9e9;
   font-family: "Bricolage Grotesque", serif;
   font-size: 19px;
   font-weight: small;
}
.listeningon13 img{
   height: 39px;
   width: 39px;
   transition: all 0.5s;
}
.listeningon13:hover .img1{
   transform: scale(0.7);
}
.listeningon13:hover .img2{
   transform: scale(0.7);
}
.listeningon13:hover .img3{
   transform: scale(0.7);
}
.listeningon13:hover .img4{
   transform: scale(0.7);
}
.listeningon13:hover .img5{
   transform: scale(0.7);
}
 .listeningon13{
   color: #e9e9e9;
   padding: 30px;
   font-family: "Bricolage Grotesque", serif;
   font-size: 19px;
   font-weight: small;
   margin-left: 5px;
   margin-bottom: 20px;
}
.contan{
  position: relative;
  width: 100%;
  height: auto;
}
.photo15{
   display: block;
   width: 309px;
   height: auto;
   border-radius: 10px;
   margin-left: 20px;
}
.photo14{
   display: block;
   width: 309px;
   height: auto;
   border-radius: 10px;
   margin-left: 10px;
}
.overlay{
   position: absolute;
   bottom: 0;
   left: 20px;
   right: 0;
   background-color: rgba(23, 21, 21, 0.5);
   overflow: hidden;
   width: 309px;
   height: 0;
   transition: .5s ease;
}
.pragati{
   color: #D32E2E;
   font-size: large;
   top: 50%;
   left: 50%;
   text-align: center;
}
.contan:hover .overlay{
  height: 100%;
}
.iconpos2{
   width: 55px;
   height: 55px;
   border-radius: 50%;
   background-color: #D32E2E;
   border: 1px solid #141414;
   position: absolute;
   top: 220px;
   left: 140px;
}
 .pragati .iconpos2 i{
   padding-top: 20px;
   padding-left: 22px;
   font-size: 25px;
}
.pragati .ic:hover {
   background-color: white;
   width: 55px;
   height: 55px;
   border-radius: 50%;
}
.ic i{
   color: #0e0101;
   padding-top: 17px;
   padding-left: 5px;
   font-size: 20px;
}

 /* section6 end*/

 /* section7 strat*/

 .bigredbg{
   height: 120px;
   width: 100%;
   background-color: #D32E2E;
}
 .ln1{
   font-size: 50px;
   color: #e9e9e9;
 }
 /* section7 end*/
 /* section8 start*/
 .redt3{
   color: #D32E2E;
  padding: 8px;
  font-size: 17px;
  font-family: "Bricolage Grotesque", serif; 
}
.sec8h3{
   height: 650px ;
   width: 102px ;
   font-size: 51px;
   font-family: "Bricolage Grotesque", serif; 
   color: #e9e9e9; 
} 
.red8{
   color: #D32E2E;
   font-size: 90px;
   margin: 0px;
}
.sec8m{
   margin-left: 30px;
}
.lorem{
   color: #e9e9e9;
   font-size: 17px;
   font-family: "Inter", serif;
   font-weight: 200;
}
.red82{
   color: #D32E2E;
   margin-top: 0px;
}
/* section8 end*/

/* section9 start*/
.bgblack{
   background-color: #141414;
   padding: 40px 0px;
}
.redcount2{
   font-family: "Bricolage Grotesque", serif; 
   font-size: 61px;
   color: #D32E2E;
  
}
.whitecount2{
   font-family: "Bricolage Grotesque", serif; 
   font-size: 19px;
   color: #e9e9e9;
   font-weight: 200;
   
}
/* section9 end*/

/* section10 start*/
.sec9head{
   font-size: 51px;
   color: #e9e9e9;
   font-family: "Bricolage Grotesque", serif;
   margin: 0px;
}
.p12{
   padding: 12px;
   border-radius: 10px;
}
.borderr{
   border-radius: 10px;
}
.sec9heading{
   color: #e9e9e9;
   font-family: "Bricolage Grotesque", serif;
   font-size: 26px;
   padding: 0px;
}
.sec9para{
   color: #e9e9e9;
   font-weight: 200px;
   font-family: "Inter", serif;
}
.p12:hover img{
   transform: scale(1.2);
}
.w{
   width: 100%;
   aspect-ratio: 4/3;
   overflow: hidden;
   object-fit: cover;
   border-radius: 10px;
}
.readmorelast i{
   padding: 2px;
   border: 1px solid #D32E2E;
   border-radius: 50%;
   margin: 0px 10px;
   color: #D32E2E;
}
.readmorelast{
   color:#D32E2E;
   font-size: 15px;
}
.readmorelast:hover{
   color: #e9e9e9;
}
.hovermorelast:hover .readmorelast{
   color: #e9e9e9;
   
  
}
.hovermorelast:hover .readmorelast i{
   color: #e9e9e9;
   border: 1px solid #e9e9e9;
}

/* section10 end*/

/* footer start*/
.footerbg{
   background-color: #141414;
}
.logo2{
   margin-top: 50px;
}
.footerpara{
   color: #e9e9e9;
   font-family: "Inter", serif;
   font-size: 16px;
   font-weight: 100;
   margin-left: 30%;
   margin-top: 50px;
   font-weight: 300;
}
.links a{
   margin-top: 10px;
   font-weight: 200;
   color: #e9e9e9;
   font-family: "Inter", serif;
   font-size: 16px;
   
}
.links{
   margin-top: 20px;
} 
.pagesred a{
   color: #D32E2E;
   font-size: 16px;
}
input{
   background-color: #141414;
   border: 1px solid #D32E2E;
   padding: 16px 32px;
}
.footernew{
   color: #D32E2E;
   font-size: 18px;
   margin-bottom: 10px;
}
.email{
   color: #e9e9e9;
}
.subnowfooter{
   margin-top: 14px;
   margin-left: 25px;
}
.subnowfooter a{
   padding: 14px 28px;
   color: #e9e9e9;
   background-color: #D32E2E;
   border-radius: 7px;
}
.subnowfooter:hover a{
   padding: 14px 28px;
   color: #e9e9e9;
   background-color: transparent;
   border-radius: 7px;
   border: 1px solid #e9e9e9;
}
.tow00{
   color: #D32E2E;
   font-size: 18px;
   margin-top: 20px;
}
.expertfooter{
   color: #e9e9e9;
   font-size: 19px;
   font-family: "Inter", serif;
   font-weight: 200;
   margin-top: 0PX;
}
.copyright{
   color: #D32E2E;
   font-size: 16px;
   font-family: "Inter", serif;
   font-weight: 200;
   margin: 20px 0px
}
.linered2{
   height: 2px;
   width: 1300px;
   background-color: #D32E2E;
}
.redt2 i{
   padding: 10px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid #D32E2E;
   font-size: 10px;
}
.redt2:hover i{
   background-color: #D32E2E;
   color: #e9e9e9;
   border-radius: 50%;
}
.roundfooter{
   margin: 20px 0px;
}
input::placeholder{
   color: #fff;
}
input:focus{
  outline: none;
}
/* footer end*/